section {
  margin-bottom: 2.5rem;
}

code {
  outline: 2px dashed rgba(255, 50, 50, 0.8);
}

/* Rebuilding styles removed on reset */
body {
  line-height: 1.3;
  color: #333;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Global code */
html {
    scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

q {
  quotes: '\00AB' '\00BB' '\201E' '\201C';
  font-style: italic;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

a:not(.btn) {
  transition-duration: 200ms;
  color: #acacac;
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: underline;
  text-shadow: 0 0 1px rgba(100, 100, 100, 0.2);
}

abbr {
  text-decoration: none;
  border-bottom: none;
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5em;
  padding-top: 150px;
}

h1, h2 {
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1.4em;
  font-size: 2.4rem;
  color: #030719;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 a:not(.btn), h2 a:not(.btn) {
  color: inherit;
}

.btn {
  transition-duration: 200ms;
  display: inline-block;
  border: 2px solid rgba(40, 200, 40, 0.5);
  background-color: rgba(40, 200, 40, 1);
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
  box-shadow: none;
  padding: 1em 3em;
  text-decoration: none;
  line-height: 1;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: rgba(40, 200, 40, 1);
}

.btn:hover, .btn:active {
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.3rem);
  border-width: 3px;
}

.btn:active {
  transform: translateY(-0.2rem);
}

.center-text {
  text-align: center;
}

.columns-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.columns-wrapper.count-2 .column {
  width: 45%;
}

.columns-wrapper.count-3 .column {
  width: 30%;
}

.columns-wrapper.count-4 .column {
  width: 24%;
}

.content-wrapper,
.header-content,
.footer-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  /*padding-left: 1rem;
  padding-right: 1rem;*/
}

.narrow-content,
.half-content {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

/* Header Styles */
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #aaa;
  background-color: rgba(255, 255, 255, 0.8);
}

#header.scrolled .logo img {
  max-height: 100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 25%;
}

.logo img {
  transition: all 0.2s ease;
  width: 100%;
  max-height: 120px;
}

.mainnav {
  display: none;
  max-width: 70%;
  justify-content: flex-end;
}

.mainnav > a {
  transition-duration: 200ms;
  color: #030719;
  background-color: #acacac;
  padding: 0.4em 1em;
  border: 1px solid #030719;
  line-height: 1;
  white-space: nowrap;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 500;
  margin: 0.6em 0.4em 0 0.4em;
}

.mainnav > a:hover {
  text-decoration: none;
  transform: scale(1.1);
  background-color: #fff;
  border-width: 2px;
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
#footer {
  margin-top: 3rem;
  position: relative;
  padding: 1rem 0 1.6rem 0;
  background-color: #acacac;
  box-shadow: 0 0 10px 10px #acacac;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 75%;
  flex-direction: column;
  text-align: center;
}

.footer-content .footer-part {
  width: 80%;
  position: relative;
  z-index: 10;
}

.footer-content a:not(.btn) {
  color: #000;
  text-decoration: underline;
}

.footer-content .newsletter-invite,
.footer-content .social-links {
  text-align: center;
}

.footer-content .social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.footer-content .social-links .icon {
  transition-duration: 200ms;
  display: inline-block;
  border: 1px solid rgba(3, 7, 25, 0.3);
  background-color: transparent;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
  box-shadow: none;
  padding: 1em 3em;
  text-decoration: none;
  line-height: 1;
  font-weight: 600;
  padding: 0;
  line-height: 1.8rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.footer-content .social-links .icon:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #acacac;
}

.footer-content .social-links .icon:hover, .footer-content .social-links .icon:active {
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.3rem);
  border-width: 3px;
}

.footer-content .social-links .icon:active {
  transform: translateY(-0.2rem);
}

.footer-content .social-links .icon svg {
  transition-duration: 200ms;
  max-height: 1.2rem;
  vertical-align: text-top;
}

.footer-content .social-links .icon svg path {
  fill: #444;
}

.footer-content .social-links .icon:hover {
  line-height: 2.4rem;
}

.footer-content .social-links .icon:hover svg path {
  fill: #acacac;
}

form.subscribe.mini input[type="email"],
form.subscribe.mini input[type="submit"] {
  border-width: 3px;
  height: 2rem;
}

form.subscribe.mini input[type="email"] {
  transition-duration: 200ms;
  border: 1px solid rgba(3, 7, 25, 0.3);
  border-radius: 4px;
  box-shadow: none;
  padding-right: 3px;
  padding-left: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form.subscribe.mini input[type="email"]:focus {
  outline: 0 none;
  border-color: #acacac;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

form.subscribe.mini input[type="submit"] {
  transition-duration: 200ms;
  display: inline-block;
  border: 1px solid rgba(3, 7, 25, 0.3);
  background-color: transparent;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form.subscribe.mini input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #acacac;
}

form.subscribe.mini input[type="submit"]:active {
  position: relative;
  top: 1px;
}

.i-link {
  display: inline-block;
  width: 49%;
  margin-bottom: 0.5em;
}


/* Specific styling */
.big-button-wrapper {
  padding: 1rem;
  text-align: center;
}

.images-stacked {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  margin: 1em 0 2em 0;
}
.images-stacked img {
  width: 70%;
  position: absolute;
  outline: 2px solid #fff;
  outline-offset: -4px;
  transition: all 2s ease;
}
.images-stacked img:first-child {
  top: 0;
  left: 0;
  z-index: 2;
}
.images-stacked img:last-child {
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* CSS3 Animation for The chevron leading to the video */
@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.arrow-callout {
  display: block;
  text-align: center;
}

.arrow-callout img {
  width: 4rem;
  animation: fade-slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
}

@keyframes image-to-right {
  0% {
    opacity: 0.9;
  }
  70% {
    top: 13%;
    left: 50%;
  }
  100% {
    top: 15%;
    opacity: 1;
    left: 51%;
    transform: rotate(15deg);
  }
}


@keyframes image-to-left {
  0% {
    opacity: 0.9;
  }
  70% {
    bottom: 13%;
    right: 50%;
  }
  100% {
    bottom: 15%;
    opacity: 1;
    right: 51%;
    transform: rotate(-15deg);
  }
}


/* Slides */
.slides {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
}
.slides::before, 
.slides::after {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 40%;
  background: transparent url(../images/svg/chevron-arrow-down.svg) 0 0 no-repeat;
  background-size: contain;
}
.slides::before {
  left: 0;
  transform: rotate(90deg);
} 
.slides::after {
  right: 0;
  transform: rotate(-90deg);
}
.slides-inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
.slides .slide.text {
  padding: 1rem 1.8rem 0.5rem;
}


@media screen and (min-width: 641px) {
  .mainnav {
    display: flex;
  }
  .half-content,
  .narrow-content {
    margin-left: auto;
    margin-right: auto;
  }
  .narrow-content {
    max-width: 500px;
  }
  .half-content {
    max-width: 650px;
  }

  .images-stacked:hover img:first-child {
    animation: image-to-right 2s ease-out forwards;
  }
  .images-stacked:hover img:last-child {
    animation: image-to-left 2s ease-out forwards;
  }
  
  .slides::before, 
  .slides::after {
    width: 80px;
    height: 80px;
    top: 46%;
  }
  .slides-inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .slides .slide.text {
    padding: 2rem 3rem 1rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    text-align: left;
  }
  .footer-content .footer-part {
    width: 30%;
  }
  .footer-content .social-links .icon { 
    height: 3rem;
    width: 3rem;
    line-height: 2.8rem;
  }
  .footer-content .social-links .icon svg {
    max-height: 1.6rem;
  }
  .copyright {
    text-align: right;
  }
  .i-link {
    width: auto;
    display: block;
  }
}